@font-face {
    font-family: 'VenkateshwarLight';
    src: url('res/fonts/venkateshwar light.ttf') format('ttf'); /* Update the path and format accordingly */
    /* You can include multiple src declarations for different formats (e.g., woff2, ttf) for better browser compatibility */
    font-weight: normal;
    font-style: normal;
  }

body{
    font-family: 'VenkateshwarLight',sans-serif;
    margin: 0%;
    background-color: black;
}
.header {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 1.5rem 1rem;
}

.headercontents {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack:end;
    justify-content: space-between;
    height: 40px;
    position: relative;
}
.logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.menu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.rightsidebar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.spacing{
    width: 4px;
}


@media screen and (min-width: 1024px){
.header {
    padding: 1.5rem 4rem;
}
}

@media screen and (min-width: 768px){
.header {
    padding: 1.5rem 2rem;
}
}